[Desktop Entry]
Name=OsmerArpaFVG
Exec=./qtc_device_debughelper.py app "qmlscene $@ Main.qml"
Icon=OsmerArpaFVG.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

